<%- include("partials/header.ejs") %>

<section class="postbox">
    <div class="postbox__input">
        <form class="postbox__input-container" action="/create" method="POST">
            <div class="postbox__input-item1">
                <input class="postbox__tweetinput" type="text" name="tweet" placeholder="Write your post here!">
            </div>
            <div class="postbox__input-item2">
                <input class="postbox__submit" type="submit" value="Post!">
            </div>          
        </form>
    </div>
</section>

<section class="viewposts">
    <div class="viewposts__container">
        <h1 class="viewposts__title" style="text-align: center;">Posts</h1>
        <% if (locals.tweets && tweets.length > 0) { %>
            <% tweets.forEach(function(tweet, index) { %>
                <div class="viewposts__post" id="post<%= (tweets.length - index) %>" style="position: relative;">
                    <p><%= tweet %></p>
                    <button class="dropdown-toggle" onclick="toggleDropdown('<%= tweets.length - index %>')">⋮</button>
                    <div class="dropdown-menu" id="dropdown-<%= tweets.length - index %>">
                        <ul>
                            <li>
                                <a href="/edit/<%= tweets.length - index %>">Edit</a>
                            </li>
                            <li>
                                <form action="/delete/<%= tweets.length - index %>" method="POST" onsubmit="return confirm('Are you sure?');">
                                    <button type="submit">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <h1 class="viewposts__noposts">No posts yet, Create your first post now! 🥳</h1>
        <% } %>
    </div>
</section>





<%- include("partials/footer.ejs") %>